@import "@/assets/styles/base/variables.css";


html {
  font-size: 16px;
  color: var(--text-common);

  @include media('>xxs', '<=sm') {
    font-size: 20px;
  }

  @include media('>=l') {
    font-size: 20px;
  }

  @include media('>xl') {
    font-size: 1.1dvw;
  }
}

html, body, div#app {
  height: fit-content;
}

body {
  display: flex;
}

div#app {
  flex: 1;
}

img {
  width: 100%;
  height: 100%
}

.main {
  width: 100%;
  height: 100%;
}