@import 'https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap';

:root {
    /* fonts */
    --font-first: 'Rubik', sans-serif;

    /* background colors */
    --background-first: rgb(245 245 245);
    --background-second: rgb(234 236 239);
    --background-third: rgb(221 224 228);

    /* text colors */
    --text-acceted: #202b3bff;
    --text-common: #9399a2ff;
    --text-third: #35455E;

    /* button background colors */
    --button-background-first: rgb(0 149 255);

    /* button text colors */
    --button-text-first: rgb(245 245 245);;
}

