@use "sass:list";
@use "sass:string";
@use "sass:map";
@import "../base/variables.css";

$s: 479px; // mobile
$m: 480px; // tablet
$l: 1280px; //desktop


@mixin handle-media-query($device) {
  @if $device == 's' {
    @media screen and (width <= $m) {
      @content;
    };
  } @else if $device == 'm' {
    @media screen and ((width > $m) and (width < $l)) {
      @content;
    };
  } @else if $device == 'l' {
    @media screen and (width >= $l) {
      @content;
    };
  } @else {
    @content; // Если передано неизвестное устройство, просто возвращаем стили
  }
}

// Миксин для медиазапросов
@mixin media($devices...) {
  @each $device in $devices {
    @include handle-media-query($device) {
      @content;
    }
  }
}





