@import "@/assets/styles/base/variables.css";

@mixin heading-h1() {
  font-family: var(--font-first);
  font-size: 3rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  white-space: pre-line;
}

@mixin heading-h2() {
  font-family: var(--font-first);
  font-size: 2rem;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  white-space: pre-line;
}

@mixin heading-h3() {
  font-family: var(--font-first);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0;
  white-space: pre-line;
}

@mixin text() {
  font-family: var(--font-first);
  font-size: 1rem;
  font-weight: normal;
  line-height: 137.5%;
  letter-spacing: 0;
  white-space: pre-line;
}

@mixin text-small() {
  font-family: var(--font-first);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 0;
  white-space: pre-line;
}